<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user story</title>
</head>
<body>
    <hi>Update user story</hi>
    <form action="/story/{{ id }}" method="POST">

        <label for="title">Title</label><br>
        <input id="title" type="text" name="title" minlength="5" value="{{ data['title'] }}"><br><br>

        <label for="user_story">User Story</label><br>
        <textarea id="user_story" name="user_story" >{{ data['user_story'] }}</textarea><br><br>

        <label for="acceptance_criteria">Acceptance Criteria</label><br>
        <textarea id="acceptance_criteria" name="acceptance_criteria"  > {{ data['acceptance_criteria'] }}</textarea><br><br>

        <label for="business_value">Business Value</label><br>
        <input id="business_value" type="number" name="business_value" step="100" min="100" max="1500" value="{{ data['business_value'] }}"><br><br>

        <label for="estimation">	Estimation</label><br>
        <input id="estimation" type="number" name="estimation" step="0.5" min="0.5" max="40" value="{{ data['estimation'] }}"> <br><br>

        <label for="status">Status:</label></br>
                <select id="status" name="status">
                    {% for item in status %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}+
                </select></br></br>
        <button type="submit" style="color:red;">Update user story</button>

    </form>

</body>
</html>